@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap'); */

/* Optionally, you can keep Fjalla One as well */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */


 input[type="checkbox"],
 input[type="radio"] {
   appearance: none;
   -webkit-appearance: none;
 }


 /* Additional styles to override focus and active states for checkbox */
 input[type="checkbox"]:focus,
 input[type="radio"]:focus {
   outline: none;
   box-shadow: none;
   border-color: #FFF1FA;
 }

 input[type="checkbox"]:active,
 input[type="radio"]:active {
   outline: none;
   box-shadow: none;
   border-color: #FFF1FA;
   background-color: #FFF1FA;
 }

 /* Specific styles to ensure the desired appearance when checked */
 input[type="checkbox"]:checked:focus,
 input[type="radio"]:checked:focus {
   outline: none;
   border-color: #FFF1FA;
   background-color: #FFF1FA;
 }

 input[type="checkbox"]:checked:active,
 input[type="radio"]:checked:active {
   outline: none;
   border-color: #FFF1FA;
   background-color: #FFF1FA;
 }